.shooting-stars-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0;
}

.shooting-star {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.6);
    transform: rotate(-45deg);
    animation: shoot linear infinite;
}

.shooting-star::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 1px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
    transform: translateX(100%);
}

@keyframes shoot {
    0% {
        transform: translate(0, 0) rotate(-45deg);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translate(-500px, 500px) rotate(-45deg);
        opacity: 0;
    }
}